@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.sidebar {
    position: fixed;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(234, 236, 240, 1);
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    z-index: 2;
}

.sidebar-navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-navigation header {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 0 24px;
    gap: 24px;
}

.sidebar-brand {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sidebar-brand h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: rgba(53, 65, 83, 1);
}

.sidebar-search {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 236, 240, 1);
}

.sidebar-navigation-content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navigation-content-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    border-radius: 8px;
    height: 40px;
    padding: 8px 8px 8px 24px;
    border: none;
    color: rgba(53, 65, 83, 1);
    background-color: rgba(255, 255, 255, 1);
}

#navigation-all-news-item {
    height: 36px;
    padding: 6px 8px;
    color: rgba(13, 20, 33, 1);
    background-color: rgba(242, 244, 247, 1);
}

.sidebar footer {
    padding: 32px 24px;
}

.sidebar-footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(102, 112, 133, 1);
}

.page-header {
    position: relative;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 32px 32px 24px 32px;
    border-bottom: 1px solid rgba(234, 236, 240, 1);
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    z-index: 1;
}

.page-header img {
    display: none;
    width: 32px;
    height: 32px;
}

.page-header h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: rgba(13, 20, 33, 1);
}

.dropdown {
    position: relative;
    width: 178px;
    height: 40px;
}

.dropdown-select {
    width: 100%;
    background-image: url('images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center right 16px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 236, 240, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(53, 65, 83, 1);
}

.dropdown:hover .dropdown-list {
    visibility: visible;
}

.dropdown-list-container {
    padding: 4px;
}

.dropdown-list {
    width: 230px;
    position: absolute;
    right: 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    visibility: hidden;
}

.dropdown-list-item {
    padding: 6px 16px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(53, 65, 83, 1);
}

.dropdown-list-item:hover {
    background-color: rgba(242, 244, 247, 1);
}

main {
    display: grid;
    position: relative;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
}

.cards-container {
    margin: 24px 0 0 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 32px;
}

.card {
    height: 600px;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid rgba(234, 236, 240, 1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-info span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(102, 112, 133, 1);
}

.card h2 {
    width: 315px;
    font-size: 24px;
    font-weight: 550;
    line-height: 32px;
    color: rgba(13, 20, 33, 1);
}

.card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(53, 65, 83, 1);
}

@media (max-width: 735px) {
    .sidebar {
        display: none;
    }

    .page-header {
        width: 100%;
        left: 0;
    }

    .page-header img {
        display: block;
    }

    main {
        width: 100%;
        left: 0;
    }

    .cards-container {
        margin: 24px auto 0 auto;
    }
}